<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">XEditable-Table</h1>

  <div class="row placeholders">
    <div class="container" ng-controller="XEditTableCtrl">
		<div qk-alert></div>
		    <div>
			  <table class="table table-bordered table-hover table-condensed">
			    <tr style="font-weight: bold">
			      <td style="width:35%">Name</td>
			      <td style="width:20%">Status</td>
			      <td style="width:20%">Group</td>
			      <td style="width:25%">Edit</td>
			    </tr>
			    <tr ng-repeat="user in users">
			      <td>
			        <!-- editable username (text with validation) -->
			        <span editable-text="user.name" e-name="name" e-form="rowform" e-required onbeforesave="checkName($data, user.id)">
			          {{ user.name || 'empty' }}
			        </span>
			      </td>
			      <td>
			      	<a editable-number="some.object" e-step="any">{{some.object || 'Enter Number'}}</a>
			      </td>
			      <td>
			        <!-- editable status (select-local) -->
			        <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
			          {{ showStatus(user) }}
			        </span>
			      </td>
			      <td>
			        <!-- editable group (select-remote) -->
			        <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
			          {{ showGroup(user) }}
			        </span>
			      </td>
			      <td style="white-space: nowrap">
			        <!-- form -->
			        <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" >
			          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
			            save
			          </button>
			          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
			            cancel
			          </button>
			        </form>
			        <div class="buttons" ng-show="!rowform.$visible">
			          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
			          <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>
			        </div>  
			      </td>
			    </tr>
			  </table>

			  <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>
			</div>
		    
		</div><!-- //container -->
  </div>

<div class="row placeholders">
    <div class="table-responsive" ng-controller='TableCtrl'>
        <table st-pipe="callServer" st-table="dataPage2" class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th class="st-sort-ascent" st-sort="name" style="width:10%">姓名</th>
              <th style="width:8%">性别</th>
              <th class="st-sort-ascent" st-sort="age" style="width:7%">年龄</th>
              <th style="width:15%">地址</th>
              <th style="width:10%">电话</th>
              <th style="width:8%">是否成人</th>
              <th style="width:10%">兴趣</th>
              <th style="width:10%">出生日期</th>
              <th style="width:9%">体重</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in dataPage2 track by $index">
              <td>{{row.name}}</td>
              <td>{{row.sex | sexFilter}}</td>
              <td>{{row.age}}</td>
              <td>{{row.addr}}</td>
              <td>{{row.tel}}</td>
              <td>{{row.isAdult | trueFilter}}</td>
              <td>{{row.intrest | selectFilter:'intrests'}}</td>
              <td>{{row.birthday | date:"yyyy-MM-dd"}}</td>
              <td>{{row.weight}}</td>
            </tr>
          </tbody>
          <tfoot>
          <tr>
            <td class="text-center" colspan="9">
              <div st-pagination="" st-items-by-page="3" st-displayed-pages="3"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
  </div>

  <hr />

  <div class="row placeholders">
    <div class="table-responsive" ng-controller='TableCtrl'>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th style="width:10%" tb-sort="name">姓名</th>
              <th style="width:8%" tb-sort="sex">性别</th>
              <th style="width:7%" tb-sort="age">年龄</th>
              <th style="width:15%">地址</th>
              <th style="width:10%">电话</th>
              <th style="width:8%">是否成人</th>
              <th style="width:10%">兴趣</th>
              <th style="width:10%">出生日期</th>
              <th style="width:9%">体重</th>
              <th style="width:13%">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in dataPage.data track by $index">
              <td>
	              <span editable-text="row.name" e-name="name" e-form="rowform" e-required onbeforesave="checkName($data, row.id)">
		          	{{ row.name || 'empty' }}
		          </span>
              </td>
              <td>
              	<span editable-select="row.sex" e-name="sex" onshow="loadData('sex','1002')" e-form="rowform" e-ng-options="s.value as s.text for s in sex">
		          {{row.sex | sexFilter}}
		        </span>
              </td>
              <td>
              	<span editable-number="row.age" e-name="age" e-form="rowform">{{row.age || 'Enter Number'}}</span>
              </td>
              <td>
              	  <span editable-text="row.addr" e-name="addr" e-form="rowform" e-required>
		          	{{ row.addr || 'empty' }}
		          </span>
              </td>
              <td>
              	<span editable-tel="row.tel" e-name="tel" e-form="rowform">{{row.tel}}</span>
              </td>
              <td>
              	<span editable-select="row.isAdult" e-name="isAdult" onshow="loadData('isAdult','1001')" e-form="rowform" e-ng-options="s.value as s.text for s in isAdult">
		          {{row.isAdult | trueFilter}}
		        </span>
              </td>
              <td>
              	<!-- <span editable-checklist="row.intrest" onshow="loadData('intrests','1004')" e-form="rowform" e-ng-options="s.value as s.text for s in intrests">
	          		{{row.intrest}}
	            </span> -->
	            <span ng-init="loadData('intrests','1004')"></span>
	            <span editable-select="row.intrest" e-name="intrest" e-multiple e-form="rowform" e-ng-options="s.value as s.text for s in intrests">
	          		{{row.intrest | selectFilter:'intrests'}}
	            </span>
	            <!-- <span editable-multiselect="row.intrest" onshow="loadData('intrests','1004')" e-form="rowform" e-ng-options="s.value as s.text for s in intrests">
                    {{row.intrest}}
                </span> -->
              </td>
              <td>
              	<span editable-date="row.birthday" e-name="birthday" e-form="rowform">{{(row.birthday | date:"yyyy-MM-dd") || 'Enter Number'}}</span>
              	<!-- for hidden form item -->
              	<div ng-hide="true">
              		<span editable-date="row.create_time" e-name="create_time" e-form="rowform"></span>
              	</div>
              </td>
              <td>
              	<span editable-number="row.weight" e-name="weight" e-form="rowform">{{row.weight || 'Enter Number'}}</span>
              </td>
              <td>
              	<form editable-form name="rowform" onbeforesave="saveUser($data, row.id)" ng-show="rowform.$visible" class="form-buttons form-inline" >
		          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
		            save
		          </button>
		          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
		            cancel
		          </button>
		        </form>
		        <div class="buttons" ng-show="!rowform.$visible">
		          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
		          <button type="button" class="btn btn-danger" ng-click="removeUser($index, row.id)">del</button>
		        </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-right" page-control record="dataPage" evname="reloadPagination"></div>
        <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>
      </div>
  </div>

  <hr />
	<div class="table-responsive" ng-controller='TableCtrl'>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th style="width:10%">姓名</th>
              <th style="width:8%">性别</th>
              <th style="width:7%">年龄</th>
              <th style="width:15%">地址</th>
              <th style="width:10%">电话</th>
              <th style="width:8%">是否成人</th>
              <th style="width:10%">兴趣</th>
              <th style="width:10%">出生日期</th>
              <th style="width:9%">体重</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in data track by $index">
              <td>
              	<div class="popover-wrapper">
	              <a editable-text="row.name" e-name="name" e-required onbeforesave="checkAndSubmit({name:$data, id:row.id})">
		          	{{ row.name || 'empty' }}
		          </a>
		        </div>
              </td>
              <td>
              	<div class="popover-wrapper">
              	<a editable-select="row.sex" e-name="sex" onshow="loadData('sex','1002')" onbeforesave="checkAndSubmit({sex:$data, id:row.id})" e-ng-options="s.value as s.text for s in sex">
		          {{(row.sex | sexFilter) || 'empty'}}
		        </a>
		        </div>
              </td>
              <td>
              	<div class="popover-wrapper">
              	<a editable-number="row.age" e-name="age" onbeforesave="checkAndSubmit({age:$data, id:row.id})" >{{row.age || 'empty'}}</a>
              	</div>
              </td>
              <td>
              	<div class="popover-wrapper">
              	  <a editable-text="row.addr" e-name="addr" e-required onbeforesave="checkAndSubmit({addr:$data, id:row.id})">
		          	{{ row.addr || 'empty' }}
		          </a>
		        </div>
              </td>
              <td>
              	<div class="popover-wrapper">
              	<a editable-tel="row.tel" e-name="tel" onbeforesave="checkAndSubmit({tel:$data, id:row.id})">{{row.tel || 'empty'}}</a>
              	</div>
              </td>
              <td>
              	<div class="popover-wrapper">
              	<span editable-select="row.isAdult" e-name="isAdult" onshow="loadData('isAdult','1001')" onbeforesave="checkAndSubmit({isAdult:$data, id:row.id})" e-ng-options="s.value as s.text for s in isAdult">
		          {{(row.isAdult | trueFilter) || 'empty'}}
		        </span>
		        </div>
              </td>
              <td>
              	<!-- <span editable-checklist="row.intrest" onshow="loadData('intrests','1004')" e-form="rowform" e-ng-options="s.value as s.text for s in intrests">
	          		{{row.intrest}}
	            </span> -->
	            <span ng-init="loadData('intrests','1004')"></span>
	            <div class="popover-wrapper">
	            <a editable-select="row.intrest" e-name="intrest" e-multiple onbeforesave="checkAndSubmit({intrest:$data, id:row.id})" e-ng-options="s.value as s.text for s in intrests">
	          		{{(row.intrest | selectFilter:'intrests') || 'empty'}}
	            </a>
	            </div>
	            <!-- <span editable-multiselect="row.intrest" onshow="loadData('intrests','1004')" e-form="rowform" e-ng-options="s.value as s.text for s in intrests">
                    {{row.intrest}}
                </span> -->
              </td>
              <td>
              	<div class="popover-wrapper">
              	<a editable-date="row.birthday" e-name="birthday" onbeforesave="checkAndSubmit({birthday:$data, id:row.id})">{{(row.birthday | date:"yyyy-MM-dd") || 'empty'}}</a>
              	</div>
              	<!-- for hidden form item -->
              	<div ng-hide="true">
              		<span editable-date="row.create_time" e-name="create_time" ></span>
              	</div>
              </td>
              <td>
              	<div class="popover-wrapper">
              	<a editable-number="row.weight" e-name="weight" onbeforesave="checkAndSubmit({weight:$data, id:row.id})">{{row.weight || 'empty'}}</a>
              	</div>
              </td>
              
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>
      </div>
    </div>
</div>