<div style="margin: 20px auto;overflow: hidden;position: relative;width: 800px;">
    <div style="float: left;width: 500px;">
        <canvas id="color" width="500" height="128" style="border: 1px #000 solid;box-shadow: 0px 4px 6px #444444;cursor: crosshair;"></canvas>
    </div>
    <div style="float: left;padding-left: 20px;">
        <div>颜色预览:</div>
        <div id="preview" style="border: 1px #000 solid;box-shadow: 2px 3px 3px #444444;height: 40px;width: 80px;border-radius: 3px;"></div>
        <div id="pick" style="border: 1px #000 solid;box-shadow: 2px 3px 3px #444444;height: 40px;width: 80px;border-radius: 3px;"></div>
    </div>
    <div style="clear:both;"></div>
</div>
<canvas id="panel" width="1000" height="300" style="border: 1px #000 solid;box-shadow: 4px 6px 6px #444444;cursor: crosshair;display: block;margin: 0 auto;"></canvas>