<input 
                            type="text" 
                            class="form-control" 
                            ng-click="open()" 
                            uib-datepicker-popup="{{format}}" 
                            ng-model="formData.dat" 
                            is-open="popup.opened" 
                            ng-disabled="disabled(date, mode)"
                            close-text="关闭" 
                            clear-text="清空" 
                            current-text="今天" 
                            alt-input-formats="altInputFormats" readonly />