<!DOCTYPE html>
<html ng-app="iRestApp">
<head>
<title>Angular + Bootstrap Form Example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

<link href="dist/css/main.css" rel="stylesheet" />
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-messages/angular-messages.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/angular-i18n/angular-locale_zh-cn.js"></script>

<!-- <script src="lib/public/bootstrap-datetimepicker.js"></script>
<script src="lib/public/bootstrap-datetimepicker.zh-CN.js"></script> -->


<script src="dist/js/main.js"></script>
</head>
<body>
<div class="container" ng-controller="FormCtrl">
    <div class="row">
        <form class="form-horizontal" name="myForm" method="post" ng-submit="submit()" novalidate>
            <div class="form-group">
                <label class="control-label col-xs-2">产品类型:</label>
                <div class="col-xs-2">
                    <select class="form-control" ng-model="formData.category" ng-options="node.id as node.label for node in [{id:'Y',label:'是'}, {id:'N',label:'否'}]">
                        <option value="">请选择</option>
                    </select>
                </div>
                <label class="control-label col-xs-2">进件编号:</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="进件编号" name="idno" ng-model="formData.idno">
                </div>
                <label class="control-label col-xs-2">客户姓名:</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="客户姓名" name="name" ng-model="formData.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">证件号码:</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="证件号码" name="num" ng-model="formData.num">
                </div>
                <label class="control-label col-xs-2">申请时间:</label>
                <div class="col-xs-2">
                    <!-- <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" type="text" value="" readonly name="askdate" ng-model="formData.askdate">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value="" /><br/> -->
                    <input 
                            type="text" 
                            class="form-control" 
                            ng-click="open1()" 
                            uib-datepicker-popup="{{format}}" 
                            ng-model="formData.dat" 
                            is-open="popup1.opened" 
                            ng-disabled="disabled(date, mode)"
                            ng-required="true" 
                            close-text="关闭" 
                            clear-text="清空" 
                            current-text="今天" 
                            alt-input-formats="altInputFormats" readonly />
                </div>
                <label class="control-label col-xs-2">影像资料是否完整:</label>
                <div class="col-xs-2">
                    <select class="form-control" ng-model="formData.resourceIsComplete" ng-options="node.id as node.label for node in [{id:'Y',label:'是'}, {id:'N',label:'否'}]">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-6">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    
</div><!-- //container -->
</body>
</html>