<div>
<!-- angular1.4.7 存在一个问题：{{formData.birthday}}可以在指令内部显示，即当页，却不能在外面显示，应使用$watch监听并$emit消息 -->
<input 
       type="text" 
       class="form-control" 
       ng-click="vm.open()" 
       uib-datepicker-popup
       format="{{vm.format}}" 
       ng-model="vm.model" 
       is-open="vm.popup.opened" 
       ng-disabled="vm.disabled(vm.model)"
       close-text="关闭" 
       clear-text="清空" 
       current-text="今天" 
       alt-input-formats="altInputFormats" readonly />
       <!-- <span ng-click="vm.setDate()" ><a>setDate</a></span> -->
</div>