<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<div class="container" ng-controller="FormCtrl">
<div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{ alert.msg }}</div>
    <div class="row">
        <form class="form-horizontal" name="myForm" method="post" ng-submit="submit()" novalidate>
            <div col-xs-6>
                <label class="control-label">标准控件</label>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">姓名:</label>
                <div class="col-xs-2">
                    <input type="text" 
                       class="form-control" 
                       placeholder='姓名'
                       name='name'
                       char-valid
                       minlength="6"
                       maxlength="10" 
                       ng-model="formData.name" />
                    <span class="error-messages" ng-show="isShow(myForm.name)" ng-messages="myForm.name.$error">
                       <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
                <label class="control-label col-xs-2">性别:</label>
                <div class="col-xs-2">
                    <qk-select model="formData.sex" code='1002' required='true' />
                </div>
                <label class="control-label col-xs-2">年龄:</label>
                <div class="col-xs-2">
                    <input type="number" 
                           class="form-control" 
                           placeholder="年龄" 
                           name="age" 
                           ng-pattern="/^([0-9]\d?(\.\d{1,2})?|100)$/"
                           ng-model="formData.age" 
                           ng-required='false' />
                    <span class="error-messages" ng-show=isShow(myForm.age) ng-messages="myForm.age.$error">
                      <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
                
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">地址:</label>
                <div class="col-xs-2">
                    <input type="text" 
                           maxlength="30" 
                           my-min-length
                           myminlength="5"
                           class="form-control" 
                           placeholder="证件号码" 
                           name="address" 
                           ng-model="formData.address" />
                    <span class="error-messages" ng-show=isShow(myForm.address) ng-messages="myForm.address.$error">
                      <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
                <label class="control-label col-xs-2">出生日期:</label>
                <div class="col-xs-2">
                    <qk-date-picker model="formData.birthday" /><span>{{formData.birthday | date:'yyyy-MM-dd'}}</span>
                </div>
                <label class="control-label col-xs-2">资料是否完整:</label>
                <div class="col-xs-2">
                    <qk-select model="formData.resourceIsComplete" code='1001' />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">个人性趣:</label>
                <div class="col-xs-2">
                    <qk-checkbox model="formData.intrest" code='1004' required='false' />
                </div>
                <label class="control-label col-xs-2">是否完成:</label>
                <div class="col-xs-2">
                    <qk-radio name="complete" model="formData.complete" code='1005' />
                </div>
                <label class="control-label col-xs-2">是否显示:</label>
                <div class="col-xs-2">
                    <qk-radio name="display" model="formData.display" code='1003' />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">科目:</label>
                <div class="col-xs-2">
                    <qk-checkbox model="formData.book" code='1006' required='false' />
                </div>
                <label class="control-label col-xs-2">IP1:</label>
                <div class="col-xs-2">
                    <input type="text" 
                           class="form-control" 
                           name="ip1" 
                           ip-match
                           ng-model="formData.ip1" />
                    <span class="error-messages" ng-messages="myForm.ip1.$error">
                      <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
                <label class="control-label col-xs-2">IP2:</label>
                <div class="col-xs-2">
                    <input type="text" 
                           class="form-control" 
                           name="ip2" 
                           ip-match
                           ng-model="formData.ip2" />
                    <span class="error-messages" ng-messages="myForm.ip2.$error">
                      <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
               
              
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">Favorite Colors</label>
                <label class="checkbox-inline col-xs-1">
                    <input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.red" ng-true-value="'red'" /> Red
                </label>
                <label class="checkbox-inline col-xs-1">
                    <input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.blue" ng-true-value="'blue'" /> Blue
                </label>
                <label class="checkbox-inline col-xs-1">
                    <input type="checkbox" name="favoriteColors" ng-model="formData.favoriteColors.green" ng-true-value="'green'" /> Green
                </label>
                <div class="radio col-xs-1">
                    <label>
                        <input type="radio" name="chickenEgg" value="chicken" ng-model="formData.chickenEgg">
                        Chicken
                    </label>
                </div>
                <div class="radio col-xs-1">
                    <label>
                        <input type="radio" name="chickenEgg" value="egg" ng-model="formData.chickenEgg">
                        Egg
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">列表不能重复:</label>
                <div class="col-xs-2">
                    <input type="text" 
                           class="form-control" 
                           name="a" 
                           no-duplicate
                           ng-model="formData.list.a" />
                    <span class="error-messages" ng-messages="myForm.a.$error">
                      <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
                <div class="col-xs-2">
                    <input type="text" 
                           class="form-control" 
                           name="b" 
                           no-duplicate
                           ng-model="formData.list.b" />
                    <span class="error-messages" ng-messages="myForm.b.$error">
                      <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
                <div class="col-xs-2">
                    <input type="text" 
                           class="form-control" 
                           name="c" 
                           no-duplicate
                           ng-model="formData.list.c" />
                    <span class="error-messages" ng-messages="myForm.c.$error">
                      <span ng-messages-include="html/share/error-messages.html"></span>
                    </span>
                </div>
            </div>

            <div col-xs-6>
                <label class="control-label">自定义控件</label>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">时间戳(秒):</label>
                <div class="col-md-2">
                  <time-duration ng-model="formData.dutime" />
                </div>
            </div>

            <div col-xs-6>
                <label class="control-label">第三方(ui-bootstrap)控件</label>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">下拉框:</label>
                <div class="col-md-2">
                  <div class="btn-group" uib-dropdown ng-init="dropdownItems=['第一项','第二项','第三项']" ng-model="slt">
                     <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle >
                         <span ng-bind="slt"></span> <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu" uib-dropdown-menu  >
                         <li ng-repeat="item in dropdownItems">
                             <a href="" ng-click="select(item, $event)" >{{item}}</a>
                         </li>
                         <li class="divider"></li>
                         <li ><a href="">其他</a></li>
                     </ul>
                 </div>
                </div>
            </div>
            <div class="form-group">
               
              
            </div>

            <div class="form-group">
                <div class="col-xs-offset-6">
                    <button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid" >提交</button>
                    <button type="button" class="btn btn-primary" ng-disabled="myForm.$invalid" >重置</button>
                </div>
            </div>
        </form>
    </div>
    
</div><!-- //container -->
    </div>